*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* //////////////////////////////////////////// */
/* color */
.bg_navbar{
  background-color: #21343E;
}
.bg_dark_blue{
  background-color: #121117; /*bg footer,services...*/
}
.clr_dark_aquamarine{
  color: #028384; /*button*/ 
} 
.clr_txt_grey{
  color: #BCBDBD !important;
}
.clr_txt_acquamarine{
  color: #16928e;
}
.txt_color_white{
  color: white;
}
/* /color */
/* ///////////////////////////////////////////// */
/* utility class */
.container{
  margin: 0 15%;
}
.d_flex{
  display: flex;
}
.d_inline_flex{
  display: inline-flex;
}
.justif_between{
  justify-content: space-between;
}
.align_center{
  align-items: center;
}
.txt_size_13{
  font-size: 13px;
}
.fw_500{
  font-weight: 500;
}
.mg_l_25{
  margin-left: 20px;
}
/* /utility class */
/* ///////////////////////////////////////////// */
/* header */
/* navbar top */
.nav{
  width: 100%;
  height: 40px;
}
#navbar{
  height: inherit;
}
.navbar i{
  align-items: center;
}
#nav_right > i, #nav_right a{
  margin-left: 25px;
  color: white;
}
.socials{
  display: inline;
}
.socials a{
  vertical-align: middle;
}
#nav_right a > i{
  transition-property: font-size;
}
#nav_right a:hover i{
  font-size: 25px;
}
/* /navbar top*/
/* jumbotron */
.jumbo{
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/bg-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* navbar jumbotron */
#jumbo_navbar{
  padding: 20px 0px;
}
.logo div{
  letter-spacing: 4px;
  height: 35px;
  display: flex;
  align-items: center;
}
.logo div:first-child{
  padding-left: 20px;
  background-color: #02838480;
  border-top-left-radius: 15.5px;
  border-bottom-left-radius: 15.5px;
  color: #52bbbb;
}
.menu_jumbo, #jumbo_nav_right i, #jumbo_nav_right button{
  margin-left: 25px;
}
/* /navbar jumbotron */
/* /header */
.btn_full {
  background-color: #028384;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  font-weight: 600;
}
.btn_full:hover{
  background-color: white;
  color: #028384;
  cursor: pointer;
}
/* main jumbotron */
#main_jumbo{
  width: 30%;
  height: 100%;
}
#main_jumbo h1{
  font-size: 50px;
  font-weight: 900;
  margin: 10px 0 25px 0;
}
#main_jumbo p{
  margin-bottom: 25px;
}
.btn_empty{
  background-color: transparent;
  color: white;
  border: 1px solid #028384;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  font-weight: 600;
}
.btn_empty:hover{
  border: 1px solid white;
  cursor: pointer;
}
/* /main jumbotron */
/* /jumbotron */



/* footer */
#footer{
  width: 100vw;
  height: 80vh;
}
#footer > div{
  height: 100%;
}
#footer_info{
  width: calc(100%/4);
  padding-right: 22px;
}
#footer_info .logo{
  font-size: x-large;
}
#footer_info p{
  margin: 20px 0;
}
#footer_info li{
  margin-bottom: 12px;
}
#footer_info i{
  width: 16px;
  margin-right: 5px;
}
#footer_info button{
  margin-top: 10px;
}
/* /footer */