*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* color */
.bg_navbar{
  background-color: #21343E;
}
/* /color */
/* ///////////////////////////////////////////// */
/* utility class */
.container{
  margin: 0 15%;
}
.d_flex{
  display: flex;
}
.justif_between{
  justify-content: space-between;
}
.align_center{
  align-items: center;
}
.txt_color{
  color: white;
}
.txt_size_13{
  font-size: 13px;
}
/* /utility class */
/* ///////////////////////////////////////////// */
/* header */
/* navbar */
.nav{
  width: 100%;
  height: 40px;
}
#navbar{
  height: inherit;
}
.navbar i{
  align-items: center;
}
#nav_right > i, #nav_right a{
  margin-left: 25px;
  color: white;
}
.socials{
  display: inline;
}
.socials a{
  vertical-align: middle;
}
#nav_right a > i{
  transition-property: font-size;
}
#nav_right a:hover i{
  font-size: 25px;
}
/* /navbar */
/* /header */