*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* //////////////////////////////////////////// */
/* colors */
.bg_navbar{
  background-color: #21343E;
}
.bg_dark_blue{
  background-color: #121117; /*bg footer,services...*/
}
.bg_black{
  background-color: black; /*bg lower footer*/
}
.bg_white{
  background-color: white; /*bg section FORM, PROCEDURE...*/
}
.bg_aquamire_semi_transparent{
  background-color: #16928e26;
}
.bg_cards{
  background-color: #191c1e;
}
.clr_dark_aquamarine{
  color: #028384; /*button*/ 
} 
.clr_txt_grey{
  color: #BCBDBD !important;
}
.clr_txt_darkgrey{
  color: #69696d !important;
}
.clr_txt_acquamarine{
  color: #16928e !important;
}
.txt_color_white{
  color: white;
}
/* /colors */
/* ///////////////////////////////////////////// */
/* utility class */
.container{
  margin: 0 15%;
}
.d_flex{
  display: flex;
}
.d_inline_flex{
  display: inline-flex;
}
.justif_between{
  justify-content: space-between;
}
.align_center{
  align-items: center;
}
.txt_size_13{
  font-size: 13px;
}
.txt_size_42{
  font-size: 42px;
}
.txt_size_38{
  font-size: 38px;
}
.fw_500{
  font-weight: 500;
}
.mg_l_25{
  margin-left: 20px;
}
.pd_l_2{
  padding-left: 2px;
}
/* /utility class */
/* ///////////////////////////////////////////// */
/* --------header--------- */
/* navbar top */
.nav{
  width: 100vw;
  height: 40px;
}
#navbar{
  height: inherit;
}
.navbar i{
  align-items: center;
}
#nav_right > i, #nav_right a{
  margin-left: 25px;
  color: white;
}
.socials{
  display: inline;
}
.socials a{
  vertical-align: middle;
}
#nav_right a > i{
  transition-property: font-size;
}
#nav_right a:hover i{
  font-size: 25px;
}
/* /navbar top*/
/* jumbotron */
.jumbo{
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/bg-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* navbar jumbotron */
#jumbo_navbar{
  padding: 20px 0px;
}
.logo div{
  letter-spacing: 4px;
  height: 35px;
  display: flex;
  align-items: center;
}
.logo div:first-child{
  padding-left: 20px;
  background-color: #02838480;
  border-top-left-radius: 15.5px;
  border-bottom-left-radius: 15.5px;
  color: #52bbbb;
}
.menu_jumbo, #jumbo_nav_right i, #jumbo_nav_right button{
  margin-left: 25px;
}
/* /navbar jumbotron */
/* /header */
.btn_full {
  background-color: #028384;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  font-weight: 600;
}
.btn_full:hover{
  background-color: white;
  color: #028384;
  cursor: pointer;
}
/* main jumbotron */
#main_jumbo{
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}
#main_jumbo h1{
  font-size: 50px;
  font-weight: 900;
  margin: 10px 0 25px 0;
}
#main_jumbo p{
  margin-bottom: 25px;
}
.btn_empty{
  background-color: transparent;
  color: white;
  border: 1px solid #028384;
  border-radius: 5px;
  height: 35px;
  width: 130px;
  font-weight: 600;
}
.btn_empty:hover{
  border: 1px solid white;
  cursor: pointer;
}
/* /main jumbotron */
/* /jumbotron */

/* --------main--------- */
/* section ABOUT */
#section_about{
  width: 100vw;
  height: 100vh;
}
#section_about > div{
  height: 100%;
}
/* ABOUT LEFT */
#about_left{
  width: 70%;
  height: 70%;
  padding-right: 50px;
}
#about_left > span, #about_left > h2,
#about_left > p{
  display: block;
  margin-bottom: 20px;
}
#about_left > div{
  padding: 20px;
  margin-bottom: 20px;
  border-left: 4px solid #e2e2e9;
}
#about_left ul{
  margin-left: 18px;
}
#about_left li{
  list-style: disc;
}
/* ABOUT RIGHT */
.certificate img{
  width: 100px;
}
#about_right{
  height: 70%;
  width: 25%;
}
#about_right .vehicle{
  padding: 10px 0;
}
#about_right .border{
  border-bottom: 1px solid rgba(169, 169, 169, 0.625);
  border-top: 1px solid rgba(169, 169, 169, 0.625);
}
#about_right > h3{
  display: block;
  margin-bottom: 23px;
}
#about_right .truck{
  padding: 5px;
  background-color: #5296bb25;
  margin-right: 5px;
}
#about_right .truck_info{
  margin-left: 20px;
}
#about_right .certifications{
  margin: 30px 0;
}
#about_right .certificate img{
  margin: 20px 20px 0 0;
}
/* /section ABOUT */
/* ////////////////////////////////////////////////////////////////////////////// */
/* section SERVICES */
#section_services{
  width: 100vw;
  height: 95vh;
}
#section_services > div{
  height: 40%;
}
/* SERVICES INCIPIT */
#services_incipit{
  padding-top: 75px;
  height: 100%;
  width: 70%;
}
#services_incipit h2{
  padding: 20px 0;
}
#services_button_incipit{
  height: 100%;
  padding-top: 175px;
}
/* SERVICES CARD */
.services_card_container{
  position: relative;
  width: calc(100%/3);
  padding: 30px 35px;
  border-radius: 10px;
}
#section_services > div:nth-child(2) > div:nth-child(2){
  margin: 0 20px;
}
.services_card_container > a > i{
  position: absolute;
  top: 30px;
  right: 35px;
  font-size: 20px;
  color: #16928ebb;
}
.services_card_container > a > i:hover{
  color: white;
}
#section_services .icona {
  width: 50px;
  height: 50px;
  position: relative;
}
#section_services .icona > i{
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.services_card_container h3, .services_card_container p{
  margin: 15px 0 20px 0;
}
/* /section SERVICES */
/* ////////////////////////////////////////////////////////////////////////////// */
/* section FEEDBACK */
#section_feedback{
  width: 100vw;
  height: 95vh;
  padding-top: 20px;
}
#section_feedback > div{
  height: 40%;
}
/* FEEDBACK INCIPIT */
#feedback_incipit{
  padding-top: 75px;
  height: 100%;
  text-align: center;
}
#feedback_incipit h2{
  padding: 20px 0;
}
/* FEEDBACK CARD */
.feedback_card_container{
  position: relative;
  width: calc(100%/3);
  padding: 30px 35px;
  border-radius: 10px;
}
#section_feedback > div:nth-child(2) > div:nth-child(2){
  margin: 0 20px;
}
.feedback_card_container > i{
  position: absolute;
  bottom: 25px;
  right: 15px;
  font-size: 20px;
  color: rgb(85, 85, 85);
}
.feedback_card_container img{
  width: 100px;
  filter: brightness(0) invert(1);
}
.feedback_card_container p{
  margin: 15px 0 20px 0;
}
/* /section SERVICES */
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* section FORM */
#section_form{
  width: 100vw;
  height: 100vh;
}
#section_form > div{
  height: 100%;
}
/* FORM CARD LEFT */
#form{
  width: 100%;
  height: 70%;
  padding-top: 30px;
}
#form > span, #form > h2,
#form > p{
  display: block;
  margin-bottom: 20px;
}
#form input, #form textarea, #form select{
  border: none;
  background-color: #74370e24;
  height: 40px;
  width: 250px;
  padding: 0 10px;
  outline: none;
  margin: 0 5px 10px 0;
}
#form textarea{
  min-width: 510px;
  min-height: 100px;
  padding: 10px;
}
#form form{
  margin-top: 40px;
}
#form button:hover{
  border: 1px solid #028384;

}
/* FORM CARD RIGHT */
#form_info{
  height: 70%;
  padding-top: 30px;
}
#form_info > h3, #form_info > p{
  display: block;
  margin-bottom: 23px;
}
.icona i{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icona{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: #16928e26;
  border-radius: 50%;
}
#form_info li{
  margin: 10px 0;
}
#form_info ul li > span{
  vertical-align: super;
  padding-left: 8px;
}
#form_info button:hover{
  border: none;
  background-color: #16928e;
  color: white !important;
}
/* /section FORM */
/* -------footer--------*/
#footer{
  width: 100vw;
  height: 80vh;
}
#footer > div{
  height: 100%;
}
/* footer info card */
#footer_info, #footer_card{
  width: calc(100%/4);
  padding-right: 22px;
  height: 251px;
}
#footer_info .logo{
  font-size: x-large;
}
#footer_info p{
  margin: 20px 0;
}
#footer_info li{
  margin-bottom: 12px;
}
#footer_info i{
  width: 16px;
  margin-right: 5px;
}
#footer_info button{
  margin-top: 10px;
}
/* footer cards */
#footer_card{
  background-color: #191c1e;
  padding: 35px 30px;
  margin-left: 20px;
  border-radius: 5px;
}
#footer_card h3{
  margin-bottom: 15px;
}
#footer_card li{
  margin-bottom: 7px;
}
#footer_card a:hover{
  color: #028384 !important;
}
#footer_card i{
  margin-right: 10px;
}
/* lower footer */
#lower_footer{
  width: 100vw;
  height: 10vh !important; 
}
#lower_footer > div{
  height: 100%; 
}
#lower_footer a{
  color: #028384; 
}
#lower_footer a:hover{
  color: white; 
}
/* /footer */